@import url("style/header.css");
body {
    background-color: rgb(237, 175, 99);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
}

.h1 {
    color:rgb(245, 128, 11);
}

.h2 {

    color:brown;
    
}